<head>
<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="app/assets/stylesheets/application.css" />
</head>
<h1>Edit Your Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to "Cancel", profile_path %> 
