


<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Subject</th>
				<th>From:</th>
				<th>To: </th>
                <th>Price: </th>
				
			</tr>
		</thead>
		<tbody>
			<% jobs.each do |job| %>
			<tr>
				<td><%= job.subject %> </td>
				<td><%= job.language_to.en %></td>
				<td><%= job.language_to.en %></td>
				<td><%= job.price %></td>	
					
			</tr>
			<% end %>
		</tbody>
</table>
</div>



