
<ul>
<% jobs.each do |job| %>
    <strong> Subject </strong>
    <li><%= job.subject %> 
    <br />
    <strong>From:</strong>
    from: <%= job.language_from.en %>
    <br />
    <strong>To:</strong>
    <%= job.language_to.en %></li>
<% end %>
</ul>
