<footer id="footer">
				<div class="inner">
                    <a href=" /contact " >Contact Us</a>
					<ul class="actions">
						<li><a href="#">(000) 000-0000</a></li>
						<li><a href="#">sample@mail.com</a></li>
						<li>120 Spencer Street, Melbourne, VIC 3000 AUSTRALIA</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Barbara Rodriguez</a>
			    </div>
</footer>