<head>
		<title>Hola Aloha</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="pages/stylesheet" href="app/assets/stylesheets/application.css" />
	</head>

<!-- Banner -->
<section id="banner">
		<div class="content">
			<h1>FAST. RELIABLE. TRUSTED</h1>
			<h2>Interpreters available today!</h2>
				<ul class="actions">
				    <li><a href="/profile" class="button scrolly">Get Started</a></li>
			    </ul>
		</div>
</section>

<section id="three" class="wrapper">
		<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
                             <% if user_signed_in? %>
							    <h4><a href="/jobs/new">New Translation Request</a></h4>
								<p>Submit a new request today!</p>
                            <% else %>
							<% end %>
						</div>
					</div>
					<div class="flex-item right">
						<div>
                            <% if user_signed_in? %>
							    <h4><a href="/jobs/index">View Translation Jobs</a></h4>
								<p>View all current job listings</p>
							<% else %>
							<% end %>
                                
					</div>
				</div>

   
</section>



