<h3>Welcome!</h3>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
        <%= link_to "New Translation Request", new_job_path %> |
        <%= link_to 'View Translation Jobs', jobs_path %>
    <% else %>
<% end %>
